#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}





.read-the-docs {
  color: #888;
}

.carrito{
  width: 30px;
}

.cart {
  &__container {
    text-align: start;
    max-width: 1000px;
  }
  &__products {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
  }
  &__item {
    display: grid;
    grid-template-columns: 2fr 0.5fr 1fr 1.5fr;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid rgb(141, 141, 141);
    width: 100%;
    position: relative;
    span {
      width: 100%;
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3),
      &:nth-child(4) {
        text-align: end;
      }
    }
    &-delete {
      position: absolute;
      right: 8px;
      top: 8px;
      background: #2a2a2a;
      opacity: 0;
      border-radius: 50%;
      transition: 0.3s;
      pointer-events: none;
      svg {
        font-size: 2.4rem;
        color: #cccccc;
      }
    }
    &:hover {
      & .cart__item-delete {
        opacity: 1;
        pointer-events: all;
      }
    }
    &-button {
      margin-left: 65%;
      width: max-content;
      grid-column: 4;
      padding: 8px 16px;
      background: none;
      text-align: end;
      font-size: 1.6rem;
      color: #cccccc;
      border: 1px solid #cccccc6c;
      border-radius: 8px;
    }
  }
  &__total {
    grid-column: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    span {
      font-size: 1.5rem;
      font-weight: bold;
      &:last-child {
        text-align: end;
        font-size: 2rem;
      }
    }
  }
}